
body {
	font-family: helvetica;
	font-size: 1.5em;
	background: black;
	color: #ccc;
}

#container {
	position: absolute; 
	width: 816px; 
	height: 624px;
	margin: 5px;
	padding: 10px;
	z-index: 0;
}

#arena, #playerLayer {
	position: absolute;
	width: 816px; 
	height: 624px;
	z-index: 10;
}

#playerLayer {
  z-index: 20;
}

#holding {
  position: absolute;
  left: 860px;
  width: 48px;
  height: 624px;
  z-index: 20;
}

.row {
	background: beige;
}

.tile {
	background: transparent;
}

.player {
  float: left;
  width: 36px;
  height: 72px;
  z-index: 40;
  background: url(../images/player.png);
}
.walkingDown {
  background: url(../images/walk-down-sprite.png);
}